.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary:hover {
  color: #fff;
}

.xl-text {
  font-size: 75px;
}

.header .decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.header .decoration-star-2 {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.7;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px;
}

.details .decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.details2 .decoration {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.7;
}

.contact .decoration {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: rgb(54, 50, 50);
  cursor: pointer;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }
  .header {
    margin-top: 0px !important;
    text-align: center;
  }
  .header .decoration-star {
    left: -100px;
    width: 250px;
  }
  .header .decoration-star-2 {
    right: -100px;
    width: 250px;
  }
  .services .text-container {
    text-align: center;
  }
  .details2 {
    text-align: center;
  }
}
